@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition: opacity 0.1s ease-in-out;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:active {
  opacity: 0.8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cursor {
  --top: 0px;
  --left: 0px;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  background: white;
  transform: translate(-50%, -50%);
}

.animated-2 {
  animation: boom-animation ease-in-out 700ms infinite;
  transition: scale 0.1s ease-in-out;
}

.animated {
  animation: fade-in-out-animation ease-in-out 500ms infinite, saturation-animation ease-in-out 300ms infinite, shake-animation 50ms infinite;
  transition: scale 0.1s ease-in-out, opacity 0.1s ease-in-out, transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.animated:hover, .animated-2:hover, .animated:active,
.animated-2:active {
  animation-play-state: paused;
  transform: scale(1.3), rotate(0deg) !important;
  opacity: 1 !important;
  filter: saturate(3) !important;
}

@keyframes fade-in-out-animation {
  0% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes boom-animation {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes saturation-animation {
  0% {
    filter: saturate(1);
  }
  40% {
    filter: saturate(1);
  }
  50% {
    filter: saturate(10);
  }
  55% {
    filter: saturate(1);
  }
  100% {
    filter: saturate(1);
  }
}

@keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}